a {
  color: #ffffff;
  font-family: "Helvetica", sans-serif;
  text-decoration: none;
  font-size: 20px;
  float: middle;
  margin: 1.6%;
  padding-bottom: 100px;
}

ul {
     font-family: "Helvetica", sans-serif;
}

li {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

header {
    background-color: #163dec;
    float: middle;
    padding-bottom: 20px;
    text-align: center;
}


body {
    background-color: #ffffff;
}

h1 {
    margin-top: 250px;
    margin-bottom: 500px;
    font-family: "Helvetica", sans-serif;
    color: #000000;
    margin-left: 25px;
    font-size: 55px;
}

.red {
    color: #EA3680
}

.mac {
    width: 100%;
    float: right;
    border-left: 120px;
}

.ob {
    display: inline-block;
}

.ob2 {
    font-family: "Helvetica", sans-serif;
    margin-bottom: 100px;
    font-size: 25px;
}

.func {
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
}

.point {
    display: inline-block;
    margin: 30px;
    height: 100px;
    width: 25%;
}

.name {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 550;
}

img.cld {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

div.background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.box {
    width: 45%;
    height: 300px;
    display: inline-block;
}


.tx1 {
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    float: right;
    margin-top: 0px;
    margin-left: 10%;

}
